# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Docker
docker-compose.yml

# Build directory
dist/
build/

# VS Code
.vscode/
